body{
    width: 90%;
    margin: 0 auto;
}

header{
    text-align: center;
}

.logo img{
    width: 15em;
}

.top-page{
    margin: 20px;
    background-color: rgb(243, 239, 205);
    padding: 10px;
    color: rgb(19, 95, 70);
    
}

.top-page strong{
    font-size:large;
}

article{
    margin: 0 15em;
}

h1{
    text-align: center;
}

hr{
    height: 1px;
    background-color: #9febdf;
    border: none;
}

figure{
    margin: 0;
}

figure figcaption{
    text-align: center;
    color: grey;
}

figure img{
    border-radius: 3%;
}

.featured{
    color: rgb(188, 125, 9);
}

.featured a{
    color: rgb(45, 160, 122);
}


footer{
    margin: 0 15em;
}

footer a{
    color: rgb(45, 160, 122);
}

